html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	min-height: 100%;
	padding: 0;
	position: relative;
}