$height_default: 80px;
$height_slim: 55px;
$bg_main: #111;
$bg_sub: #202020;
$bg_subsub: #2c2c2c;
$colour_main: #666;
$colour_sub: #aaa;
$colour_subsub: #ccc;
$transition: height 0.2s ease-in;

main {
    margin-top: $height_default;
}

#menu-wrapper {
    background: $bg_main;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindex_menu;
    
    #menu-upper {
        background: #0a0a0a;
        height: 30px;
    }
    nav.navbar {
        background: none;
        box-shadow: none;
        border-radius: 0;
        border: none;
        color: $colour_main;
        margin: 0 auto;
        height: $height_default;
        padding: 0;
        position: relative;
        
        transition: $transition;
        
        & > div.container {
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            align-content: center;
            justify-content: flex-start;
            height: 100%;
            padding: 0;
            
            .navbar-header {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                height: 100%;
                
                .navbar-brand {
                    height: auto;
                    margin: 0;
                    padding: 0;
                    
                    & > img {
                        height: #{0.7 * $height_default};
                        width: auto;
                        transition: $transition;
                    }
                    &:active, &:focus {
                        outline: none;
                        border: none;
                    }
                }
            }
            
            & > div.navbar-collapse {
                display: flex !important;
                flex-flow: row nowrap;
                align-items: center;
                flex: 1;
                
                & > ul.navbar-nav {
                    float: none !important;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    flex: 1;
                    background: none;
                    position: initial;
                    border-radius: 0;
                    border: none;
                    align-self: stretch;
                    
                    & > li {
                        float: none !important;
                        display: table;
                        height: 100%;
                        margin: 0;
                        @include transition();
                        
                        & > a {
                            background: none;
                            //color: #666;
                            color: inherit;
                            display: table-cell;
                            text-shadow: none;
                            padding: 0 1.5em;
                            font-weight: 400;
                            text-transform: uppercase;
                            vertical-align: middle;
                            @include transition();
                            
                        }
                        &:hover {
                            cursor: pointer;
                            background: $bg_sub;
                            
                            & > a {
                                
                                color: $colour_sub;
                            }
                            &.dropdown > ul.dropdown-menu {
                                display: block;
                            }
                        }
                        &.active {
                            //background: none;
                            
                            & > a {
                                background: none;
                                color: #ccc;
                            }
                        }
                        &:hover, &:focus, &:active, &.active {
                            & > a {
                                background: transparent;
                                filter: none !important;
                                outline: none !important;
                            }
                        }
                        
                        &.dropdown {
                            & > ul.dropdown-menu {
                                background: $bg_sub;
                                border-radius: 0 0 4px 4px;
                                border: none;
                                box-shadow: none;
                                color: $colour_sub;
                                top: 100%;
                                padding: 0.5em 0;
                                z-index: $zindex_menu + 100;
                                
                                & > li {
                                    color: inherit;
                                    margin: 0;
                                    padding: 0;
                                    
                                    & > a {
                                        color: inherit;
                                        padding: 0.7em 1em;
                                        
                                        &:hover {
                                            background: none;
                                        }
                                    }
                                    &:hover {
                                        background: $bg_subsub;
                                        
                                        & > a {
                                            color: $colour_subsub;
                                        }
                                        
                                        &.dropdown {
                                            & > ul.dropdown-menu {
                                                display: block;
                                            }
                                        }
                                    }
                                    &.active {
                                        background: $bg_subsub;
                                        
                                        & > a {
                                            color: #bbb;
                                            font-weight: initial;
                                        }
                                    }
                                    &.divider {
                                        background: $colour_sub;
                                    }
                                    &.dropdown {
                                        & > ul.dropdown-menu {
                                            background: $bg_subsub;
                                            border-top-left-radius: 0;
                                            border: none;
                                            box-shadow: none;
                                            color: $colour_subsub;
                                            top: 0;
                                            left: 100%;
                                            margin: 0;
                                            padding: 0.25em 0;
                                            
                                            & > li {
                                                color: inherit;
                                                
                                                & > a {
                                                    color: inherit;
                                                }
                                                
                                                &:hover {
                                                    background: lighten($bg_subsub, 7%);
                                                    cursor: pointer;
                                                    
                                                    & > a {
                                                        background: none;
                                                    }
                                                }
                                                &.active {
                                                    background: lighten($bg_subsub, 4%);
                                                    
                                                    & > a {
                                                        color: #eee;
                                                        font-weight: normal;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                & > #menu-main--buttons {
                    margin: 0 1em 0 0;
                    
                    a {
                        margin: 0;
                    }
                }
                & > #menu-profile {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    height: 100%;
                    
                    & > button, & > a {
                        $size: 40px;
                        background: rgba(255, 255, 255, 0.05);
                        border-radius: $size;
                        border: none;
                        display: inline-block;
                        color: inherit;
                        line-height: $size;
                        font-size: 18px;
                        height: $size;
                        width: $size;
                        text-align: center;
                        padding: 0;
                        
                        @include transition();
                        
                        img {
                            height: 100%;
                            width: 100%;
                            border-radius: #{$size/2};
                            margin: 0;
                        }
                        &:hover {
                            background: rgba(255, 255, 255, 0.1);
                            color: #CCC;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    & > .dropdown-menu {
                        $padding: 1em;
                        background: $bg_sub;
                        border-radius: 0 0 5px 5px;
                        border: none;
                        box-shadow: none;
                        color: $colour_sub;
                        top: 100%;
                        right: 0;
                        left: auto;
                        margin: 0;
                        width: 200px;
                        
                        z-index: $zindex_menu + 900;
                        
                        &.open {
                            display: block;
                        }
                        
                        & > #menu-main--user {
                            $size: 40px;
                            padding: 1em $padding;
                            background: $bg_main;
                            
                            p {
                                line-height: 1;
                                margin: 0;
                            }
                            #menu-main--user--upper {
                                font-weight: 300;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            #menu-main--user--lower {
                                color: #666;
                                font-size: 0.8em;
                                margin-top: 0.5em;
                                
                                a {
                                    color: inherit;
                                    
                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }
                        }
                        
                        & > ul {
                            background: $bg_sub;
                            border: none;
                            border-radius: 0 0 5px 5px;
                            margin: 0;
                            padding: 0.25em 0;
                            min-width: 0;
                            width: 100%;
                            
                            & > li {
                                margin: 0;
                                padding: 0;
                                
                                & > a {
                                    color: inherit;
                                    padding: 0.75em $padding;
                                    
                                    &:hover {
                                        background: none;
                                    }
                                }
                                
                                &:hover {
                                    background: lighten($bg_sub, 5%);
                                    
                                    a {
                                        text-decoration: none;
                                    }
                                }
                                &.active {
                                    background: lighten($bg_sub, 3%);
                                    
                                    a {
                                        font-weight: normal;
                                    }
                                }
                                &.dropdown {
                                    position: relative;
                                    
                                    & > ul.dropdown-menu {
                                        background: lighten($bg_sub, 5%);
                                        border: none;
                                        border-radius: 5px 0 5px 5px;
                                        box-shadow: none;
                                        right: 100%;
                                        left: auto;
                                        top: 0;
                                        position: absolute;
                                        margin: 0;
                                        
                                        & > li {
                                            & > a {
                                                color: inherit;
                                            }
                                            
                                            &:hover {
                                                background: rgba(255, 255, 255, 0.05);
                                                
                                                a {
                                                    background: none;
                                                }
                                            }
                                            &.active {
                                                background: rgba(255, 255, 255, 0.03);
                                            }
                                        }
                                    }
                                    
                                    &:hover {
                                        & > ul.dropdown-menu {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    &.slim {
        nav.navbar {
            height: $height_slim;
            
            & > div.container {
                .navbar-header {
                    .navbar-brand {
                        & > img {
                            height: #{0.8 * $height_slim};
                        }
                    }
                }
            }
        }
    }
}